<h2 div class="card-panel cyan accent-1, z-depth-1"><span class="white-text text-darken-2">Sign up</span></h2>

<%= form_for @user do |f| %>

  <%= render 'shared/errors', object: @user %>
  <div class="field container">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name, autofocus: true %>
  </div>

  <div class="field container">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field container">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions container">
    <button class="btn waves-effect cyan accent-1, z-depth-4" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
