<div id="game-<%= @game.id %>" game-id="<%= @game.id %>">

  <div>
    <div id='timer'></div>
  </div>

  <div id="cluegiver-turn-<%= @turn.id %>" class="cluegiver-view">
    <h1><%= @game.name %></h1>
    <%= render 'games/card', card: @card %>
  </div>

  <div id="turn-<%= @turn.id %>" class="observer-view">
    <h1><%= @turn.player.display_name %>'s Turn</h1>
  </div>
</div>
<%= render 'games/state_update_script', game: @game %>
