<div id='<%=@game.name%>-controller'>
  <h1><%= @game.name %></h1>

  <ul class='player-names-list'>
    <% @game.participants.each do |player| %>
      <li class='player-name'><%= player.display_name %></li>
    <% end %>
  </ul>

  <% if current_user.cards_from(@game).count < 4 %>
    <%= render 'cards/form', card: Card.new, game: @game %>
    <p>you need to add <%= pluralize(4 - current_user.cards_from(@game).count, 'more card') %> </p>
  <% end %>
  
  <div id='start-game-link' class= <%= !@game.ready? ? 'hidden' : '' %> >
    <%= render 'games/start', game: @game %>
  </div>

  <div class= <%= @game.participants.count >= 4 ? 'hidden' : '' %> >
    <p id='waiting-for-players'>Waiting for <%= pluralize((4 - @game.participants.count), 'more player') %>...</p>
  </div>

  <div class= <%= @game.unfinished_players ? '' : 'hidden'%> >
    <p id='waiting-for-cards'>Waiting for all players to add cards...</p>
  </div>
</div>
