<div id='<%=@game.name%>-controller'>
  <%= @game.name %>

  <ul class='player-names-list'>
    <% @game.participants.each do |player| %>
      <li class='player-name'><%= player.display_name %></li>
    <% end %>
  </ul>

   <%= render 'cards/form', card: Card.new, game: @game %>
   <%= render 'games/start', game: @game %>
</div>
<%= render 'games/state_update_script', game: @game %>
