<!DOCTYPE html>
<html>
  <head>
    <title>FishBowling</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'timer', 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class='nav-link' href="/">home</a></li>
          <% if current_user %>
            <li><%= current_user.display_name %></li>
            <li><a class='nav-link' href="/logout">logout</a></li>
          <% else %>
            <li><a class='nav-link' href="/login">login</a></li>
            <li><a class='nav-link' href="/users/new">register</a></li>
          <% end %>
        </ul>
        <div id='timer'>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
